/* components/Header.module.css */
.header {
  background-color: #ffffff;
  padding: 10px 20px;
  border-bottom: 1px solid #e5e5e5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  flex-wrap: wrap;
}

.sidebarToggle {
  font-size: 24px;
  margin-right: 20px;
  background: none;
  border: none;
  cursor: pointer;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #ff0000;
  margin-right: 20px;
}

.searchContainer {
  display: flex;
  flex: 1;
  align-items: center;
  margin-right: 20px;
}

.searchInput {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
}

.searchButton {
  padding: 13px;
  background-color: #028482;
  border: 1px solid #028482;
  color: #ffffff;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.location {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.cart {
  position: relative;
  font-size: 24px;
  margin-right: 20px;
  cursor: pointer;
}

.cartCount {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: red;
  color: #ffffff;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
}

.authButton {
  padding: 8px 16px;
  background-color: #028482;
  border: none;
  color: #ffffff;
  border-radius: 4px;
  cursor: pointer;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .logo {
    font-size: 20px;
    margin-right: 10px;
  }

  .searchContainer {
    flex: 2;
    margin-right: 10px;
  }

  .location,
  .cart,
  .authButton {
    font-size: 18px;
    margin-right: 10px;
  }
}

@media (max-width: 480px) {
  .container {
    flex-direction: column;
    align-items: flex-start;
  }

  .searchContainer {
    width: 100%;
    margin-bottom: 10px;
  }

  .location,
  .cart,
  .authButton {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .authButton {
    width: 100%;
  }
}
